<div class="container-fluid about-container">
  <div class="row header">
    <h3 class="text-center animated-text">Meet</h3>
    <h2 class="text-center animated-text">The Founders</h2>
  </div>
  <div class="row text row-container">
    <div class="col-lg-4 col-12">
      <div class="image-container">
        <img
          src="assets/JoelOmbima.jpeg"
          alt="Joel Ombima"
          class="animated-image about-image"
        />

        <div class="about">
          <h3 class="title">Joel Ombima</h3>
          <p class="subtitle animated-text">Founder</p>
        </div>
      </div>
    </div>
    <div class="col-lg-8 col-12 about-text">
      <p class="animated-text">
        After high school Pastor Joel attended technical college in Kenya where
        he learned sign-writing, painting, and environmental work. He then
        attended a bible college in Nairobi for 4 years and graduated with a
        Diploma in Theology in 1992. Joel continued in an extended program
        receiving a Bachelor of Christian Ministry at Far Eastern Bible College
        taught by professors from Singapore.
      </p>
      <p class="animated-text">
        Joel was ordained as a Pastor of his local congregation in Lolgorian in
        the Maasai Mara area. His current livelihood is a professional painter,
        sign-writer and environmentalist, raising trees and flower seedlings in
        his nursery. Joel educates the community on conservation and preserving
        the natural landscape in the Maasai Mara region.
      </p>
      <p class="animated-text">
        Joel wears many hats, apart from his pastoral work he is the project
        manager of the Cora Blue Fund and supervisor of the school grounds. This
        organization assists Maasai girls and boys of Olopikidongoe to continue
        their education. A girl’s dormitory is complete and a boy’s dormitory
        will be constructed in the near future.
      </p>
    </div>
    <div class="row col-12 pt-3">
      <h3 class="text-center pb-3">Joel - Daily life</h3>
      <div class="col-md-6">
        <p class="animated-text">
          For me involves waking up early about 5 a.m. and having my morning
          devotions with my wife and the Lord. I assist my wife in lighting a
          charcoal stove to warm water for bathing and prepare breakfast for the
          family. After breakfast I take my children and one neighbor child to
          school on my motorbike about 3 miles. We manage to squeeze 4 children
          and myself on one motorbike. We have hopes to purchase a small truck
          for transporting our children and purchases for the school. When I
          return home I pick up my wife and transport her to school then I leave
          for my daily work.
        </p>
        <p class="animated-text">
          We have 3 meals a day, light morning breakfast, lunch and dinner. An
          example of our daily meals would be steamed sweet potatoes with tea
          for breakfast, for lunch we cook kale and cornmeal “ugali” and for
          supper we eat beans mixed with whole corn. We have about 5 varieties
          (such as goat meat, chicken and other vegetables) for or meals and a
          few spices. In the evening everyone walks home from school and we meet
          together as a family for dinner. As Judy prepares dinner the children
          do their homework, after dinner we come together for family devotions
          and pray then we go to bed around 10 pm.
        </p>
      </div>
      <div class="col-md-6">
        <p class="animated-text">
          We are surrounded by many kinds of wild animals such as: elephants,
          buffalo, rhino lion, leopards, hyena, zebra, impala, giraffe, snakes
          and others. Sometimes we have cases of animal attacks due to our work
          in the jungle, wild animals have killed some people. When a wild
          animal kills a family member, the government will compensate this
          family with about $200,000 shillings (about $2,000 USD).
        </p>
        <p class="animated-text">
          Since we have been in America our children sent us a picture of a
          poisonous snake they killed in our house and another one they killed
          in the school office. They sent us a picture on our phone. It makes us
          nervous to leave our children alone. We have a dirt floor and often
          the walls are cracked and bugs, snakes and mice can enter our home. We
          are hoping to put in a concrete floor, bricked walls and a more secure
          ceiling to keep the wildlife out. In every village there is a market
          day where they sell cows, goats, produce, fabrics and other foods.
          Market day is Wednesday and Saturday. Everybody must purchase food on
          market day otherwise there is no place to make purchases until the
          next market day.
        </p>
      </div>
    </div>
    <div class="row col-12 pt-5">
      <h3 class="text-center pb-3">Faith & Ministry</h3>
      <div class="col-md-6">
        <p class="animated-text">
          I was converted in 1987 at age 18 since then my faith and trust has
          been in the God of Israel , God of Abraham, Isaac and Jacob who’s name
          is Jehovah, the creator of the universe and all that is in it.
        </p>
        <p class="animated-text">
          I believe in the Holy Trinity of God, the Father, the Son and the Holy
          Spirit. I believe in the bible as the final authoritative word of God
          and that all scripture is give by inspiration of God and is profitable
          for doctrine, for reproof, for correction, for instruction in
          righteousness. II Timothy 3:16.
        </p>
        <p class="animated-text">
          I believe in the apostle’s creed, which states:
        </p>
        <p
          style="
            font-style: italic;
            border-left: 4px solid #ccc;
            padding-left: 16px;
            color: #555;
          "
        >
          “I believe in Jesus Christ, the son of God who was conceived by the
          Holy Ghost, born by Virgin Mary, suffered under Pontius Pilot, was
          crucified, died and buried, descended into hell, the 3rd day he rose
          again from the dead, he ascended into heaven and seated on the right
          hand of God the Father Almighty from thence He shall come to judge the
          living and dead.”
        </p>

        <p
          style="
            font-style: italic;
            border-left: 4px solid #ccc;
            padding-left: 16px;
            color: #555;
          "
        >
          “I believe in the Holy Spirit, the holy universal church, the
          communion of saints, forgiveness of sins, the resurrection of the body
          and the life everlasting.”
        </p>
      </div>
      <div class="col-md-6">
        <p class="animated-text">
          My ministry is to reach out to the Maasai people and the community
          with the Word of God and touch souls through the message of repentance
          and holiness. I am showing DVD testimonies of healed and delivered
          people that God has helped through our prayers in faith.
        </p>
        <p class="animated-text">
          My wife and I are preparing local Maasai believers and other church
          communities around for Christ’s soon coming.
        </p>
        <p
          style="
            font-style: italic;
            border-left: 4px solid #ccc;
            padding-left: 16px;
            color: #555;
          "
        >
          “The voice of Him that crieth in the wilderness, prepare ye the way of
          the Lord, make straight in the desert a highway for our God.” Isaiah
          40:3
        </p>

        <p class="animated-text">
          When there is a group of converted souls in a distant area but there
          are no churches for them within walking distance, it is part of my
          ministry to find an ordained Pastor to go to the community and plant a
          new church. Currently; I am overseeing 5 new churches that we have
          planted in the Maasai community.
        </p>
      </div>
    </div>
  </div>
  <div class="row text row-container">
    <div class="col-lg-8 col-12 about-text order-2 order-lg-1">
      <p class="animated-text">
        Judy is the wife of Pastor Joel and they have 3 children. The eldest, a
        girl age 19, another girl 12 years and the youngest boy age 10. She
        received a 2-year certificate in Early Childhood Education in 2005. She
        is currently a student pursuing a degree in Early Childhood Education.
      </p>
      <p class="animated-text">
        Judy also attended and received a certificate in Participatory
        Integrated Development from GTZ (a German NGO program). In addition she
        received a certificate of participation in a Kidzana Children’s Ministry
        Training Seminar in Uganda and finally she completed a certificate for
        Pastors Wive’s and Women Leaders in the Church Psycho-social Awareness
        Workshop in 2010.
      </p>
      <p class="animated-text">
        Judy is a trained teacher by profession and is currently the director of
        Kinyor Yesu Christian School. She is raising money for improvements and
        additions to her 9 classroom private school grades pre-school to 7 th
        grade. She currently has 90 plus students and the expansion will include
        a boarding facility for both boys and girls to accommodate 150 plus
        students.
      </p>
    </div>
    <div class="col-lg-4 col-12 order-1 order-lg-2">
      <div class="image-container">
        <img
          src="assets/JudyOmbima.jpeg"
          alt="Joel Ombima"
          class="animated-image about-image"
        />
        <div class="about">
          <h3 class="title">Judy Ombima</h3>
          <p class="subtitle animated-text">Founder</p>
        </div>
      </div>
    </div>
    <div class="row col-12 order-3 pt-5">
      <h3 class="text-center pb-3">Judy – Daily Life, Ministry and Work</h3>
      <div class="col-md-6">
        <p class="animated-text">
          My work as a Pastor’s wife involves being a role model to the women of
          our community. I hold women’s meetings once a week in the local church
          and once a month for all the churches we oversee. Many women come to
          me for counseling before they see Pastor Joel due to the fact I can
          understand their problems. My day is very busy with counseling and
          church activities. I also oversee my husband and his church
          activities.
        </p>
        <p class="animated-text">
          My second work is Director of Kinyor Yesu School. As a trained and
          experienced teacher of 10 years I work in the school daily, manage and
          employ the staff and ensure the school routine runs smoothly. I am in
          need of a school manager to assist in collecting the student fees and
          carrying out responsibilities in case of an emergency. For example
          when students or staff get sick and need to go to the clinic, when
          parents have concerns and need counseling about their children and
          handling new students and visitors.
        </p>
        <p class="animated-text">
          I wake at 5 am for devotions then go for water in a nearby drilled
          water station where we can buy water (20 liters for 10 cents) to cover
          our daily needs. I then prepare breakfast and Joel get’s the children
          off to school.
        </p>
        <p class="animated-text">
          Sometimes we walk to school if our motorbike is broken down with
          mechanical problems. We have hopes to get a school van to help us
          bring local children to school and assist us in our ministry. Most
          children walk to school daily from a variety of distances
          (approximately 1-6 miles). Some of the challenges children face while
          walking to school are illnesses from the cold and rainy weather,
          dangers from being attacked by wild animals or snakes and the extreme
          hot sun in the summer.
        </p>
      </div>
      <div class="col-md-6">
        <p class="animated-text">
          After school I come home to prepare supper, wash the clothes by hand
          and hang them overnight on our fence outside and assist the children
          with their homework. Before going to bed I clean up the dishes and do
          most of the house cleaning, as I am gone most of the day to school.
          Often couples come for counseling as late 11:00 pm and interrupt our
          supper. Other times we are called out to pray for those who are sick
          or having family problems. When issues arise this interrupts our
          evening schedule and keeps our lives very busy.
        </p>
        <p class="animated-text">
          At times it is a challenge to feed those who often come to visit. So
          there is a need to expand our gardening and farming projects to grow
          additional food for our many guests. The expectation from the local
          communities is that a Pastor should not only feed his flock
          spiritually but also physically. This puts an additional burden on our
          family but we know God will provide.
        </p>

        <p class="animated-text">
          When there is a group of converted souls in a distant area but there
          are no churches for them within walking distance, it is part of my
          ministry to find an ordained Pastor to go to the community and plant a
          new church. Currently; I am overseeing 5 new churches that we have
          planted in the Maasai community.
        </p>
      </div>
    </div>
  </div>
  <div class="row header">
    <h3 class="text-center animated-text">About</h3>
    <h2 class="text-center animated-text">
      Our Family, Lifestyle, Faith, Ministry, Work and Vision
    </h2>
  </div>
  <div class="row text">
    <div class="col-md-6 col-12">
      <p class="animated-text">
        We were married in Migori, Kenya on December 17, 1994 in a Christian
        holy matrimony in the church. God blessed us with 3 children, our
        firstborn is a girl “Hilda Asigo” age 19 years expecting to enter
        college this fall. Secondly, a girl “Pricilla Ambio” age 12 years, she
        is in 7 th grade. Our last-born son “Samuel Blessing” age 10 years old,
        now in 6 th grade.
      </p>
      <p class="animated-text">
        We live in the village of Lolgorian, Kenya in our own property. Our home
        has iron roof sheeting and the walls are made of sticks, mud and cow
        dung. When it is dry it does not smell, after each rain we smooth out
        the mud to reduce cracking.
      </p>
    </div>
    <div class="col-md-6 col-12">
      <div
        id="carouselExample"
        class="carousel slide"
        data-bs-ride="carousel"
        data-bs-interval="2000"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="assets/slider1.jpeg"
              class="d-block w-100 carousel-image"
              alt="Image 1"
            />
          </div>

          <div class="carousel-item">
            <img
              src="assets/slider2.jpeg"
              class="d-block w-100 carousel-image"
              alt="Image 2"
            />
          </div>

          <div class="carousel-item">
            <img
              src="assets/slider3.jpeg"
              class="d-block w-100 carousel-image"
              alt="Image 3"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row header">
    <h3 class="text-center animated-text">About</h3>
    <h2 class="text-center animated-text">Our Vision</h2>
  </div>
  <div class="row text">
    <div class="col-12 d-flex justify-content-center">
      <div class="col-12">
        <p class="">
          We have a vision of constructing a vocational training facility for
          college age students. Often students don’t’ finish their high-school
          education so they cannot go to college. This school would provide
          practical training in skills they can use in their community to earn a
          living.
        </p>
        <p class="">
          Some Maasai girls must leave school early due to unexpected
          pregnancies; forceful marriages after female circumcism and Maasai
          boys often leave school during the traditional Manyattas ceremonies
          where they train young boy to become warriors. Other reasons include
          inability to pay the school fees of approximately $150.00 per month
          this would include their food, room and board.
        </p>
        <p class="">
          The classes we propose have practical training in tailoring using
          sewing machines, construction with wood-working equipment, mechanics
          with appropriate tools and welding equipment and lastly computer
          training courses. We propose tuition fees to be $100.00 per month and
          more affordable than the government high-school and college tuition.
        </p>
      </div>
    </div>
  </div>

  <div class="row header">
    <h3 class="text-center animated-text">Our</h3>
    <h2 class="text-center animated-text">Budget For School</h2>
  </div>

  <div class="row text">
    <div class="col-12 col-md-6">
      <ol>
        <li>
          Concrete Flooring for 4 Classrooms: <br />
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 12l5 5l10 -10" />
              <path d="M2 12l5 5m5 -5l5 -5" /></svg
            >Each Classroom – $500.00 x 4 = $2,000.00.</span
          >
        </li>
        <li>
          Fencing around the School Compound: <br />
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 12l5 5l10 -10" />
              <path d="M2 12l5 5m5 -5l5 -5" /></svg
            >Each Classroom – $500.00 x 4 = $2,000.00.</span
          >
        </li>
        <li>
          Installation of Electricity: <br />
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 12l5 5l10 -10" />
              <path d="M2 12l5 5m5 -5l5 -5" /></svg
            >Electric Poles, Meter, Wiring and Labor – $1,000.00.</span
          >
        </li>
        <li>
          Desks and Staff Tables: <br />
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 12l5 5l10 -10" />
              <path d="M2 12l5 5m5 -5l5 -5" /></svg
            >(35) Students Desks & (10) Staff Tables &#64;$70.00 ea. –
            $3,150.00.</span
          >
        </li>
        <li>
          Reconditioned School Vehicle: <br />
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 12l5 5l10 -10" />
              <path d="M2 12l5 5m5 -5l5 -5" /></svg
            >(11) Passenger (Toyota) Van – $10,500.00.</span
          >
        </li>
      </ol>
    </div>

    <div class="col-12 col-md-6">
      <ol start="6">
        <li>
          Girls Dormitory: <br />
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 12l5 5l10 -10" />
              <path d="M2 12l5 5m5 -5l5 -5" /></svg
            >Accommodates (70) girls w/bathrooms and septic. –
            $143,000.00.</span
          >
        </li>
        <li>
          Boys Dormitory: <br />
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 12l5 5l10 -10" />
              <path d="M2 12l5 5m5 -5l5 -5" /></svg
            >Accommodates (70) boys w/bathrooms and septic. – $143,000.00.</span
          >
        </li>
        <li>
          Staff Housing: <br />
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 12l5 5l10 -10" />
              <path d="M2 12l5 5m5 -5l5 -5" /></svg
            >Attached Housing for (8) Teacher’s Families – $28,000.00.</span
          >
        </li>
        <li>
          Chapel for School: <br />
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 12l5 5l10 -10" />
              <path d="M2 12l5 5m5 -5l5 -5" /></svg
            >Concrete walls and floor, iron sheet roof – $10,500.00.</span
          >
        </li>
        <li>
          Vocation Training School: <br />
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 12l5 5l10 -10" />
              <path d="M2 12l5 5m5 -5l5 -5" /></svg
            >(2) Classroom School – $28,000.00.</span
          >
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 12l5 5l10 -10" />
              <path d="M2 12l5 5m5 -5l5 -5" /></svg
            >Practical training tools and equipment – Budget-TBD</span
          >
        </li>
      </ol>
    </div>
  </div>
</div>
