<div class="container-fluid about-container">
  <div class="row mt-5">
    <h3 class="text-center animated-text">Meet</h3>
    <h2 class="text-center animated-text">The Founders</h2>
  </div>
  <div class="row mt-5 row-container">
    <div class="col-lg-4">
      <div class="image-container">
        <img
          src="assets/JoelOmbima.jpeg"
          alt="Joel Ombima"
          class="animated-image about-image"
        />
        <div class="about">
          <h3 class="title">Joel Ombima</h3>
          <p class="subtitle animated-text">Founder</p>
        </div>
      </div>
    </div>
    <div class="col-lg-8 about-text">
      <p class="animated-text">
        After high school Pastor Joel attended technical college in Kenya where
        he learned sign-writing, painting, and environmental work. He then
        attended a bible college in Nairobi for 4 years and graduated with a
        Diploma in Theology in 1992. Joel continued in an extended program
        receiving a Bachelor of Christian Ministry at Far Eastern Bible College
        taught by professors from Singapore.
      </p>
      <p class="animated-text">
        Joel was ordained as a Pastor of his local congregation in Lolgorian in
        the Maasai Mara area. His current livelihood is a professional painter,
        sign-writer and environmentalist, raising trees and flower seedlings in
        his nursery. Joel educates the community on conservation and preserving
        the natural landscape in the Maasai Mara region.
      </p>
      <p class="animated-text">
        Joel wears many hats, apart from his pastoral work he is the project
        manager of the Cora Blue Fund and supervisor of the school grounds. This
        organization assists Maasai girls and boys of Olopikidongoe to continue
        their education. A girl’s dormitory is complete and a boy’s dormitory
        will be constructed in the near future.
      </p>
    </div>
  </div>
  <div class="row mt-5 row-container">
    <div class="col-lg-8 about-text order-2 order-lg-1">
      <p class="animated-text">
        Judy is the wife of Pastor Joel and they have 3 children. The eldest, a
        girl age 19, another girl 12 years and the youngest boy age 10. She
        received a 2-year certificate in Early Childhood Education in 2005. She
        is currently a student pursuing a degree in Early Childhood Education.
      </p>
      <p class="animated-text">
        Judy also attended and received a certificate in Participatory
        Integrated Development from GTZ (a German NGO program). In addition she
        received a certificate of participation in a Kidzana Children’s Ministry
        Training Seminar in Uganda and finally she completed a certificate for
        Pastors Wive’s and Women Leaders in the Church Psycho-social Awareness
        Workshop in 2010.
      </p>
      <p class="animated-text">
        Judy is a trained teacher by profession and is currently the director of
        Kinyor Yesu Christian School. She is raising money for improvements and
        additions to her 9 classroom private school grades pre-school to 7 th
        grade. She currently has 90 plus students and the expansion will include
        a boarding facility for both boys and girls to accommodate 150 plus
        students.
      </p>
    </div>
    <div class="col-lg-4 order-1 order-lg-2">
      <div class="image-container">
        <img
          src="assets/JudyOmbima.jpeg"
          alt="Joel Ombima"
          class="animated-image about-image"
        />
        <div class="about">
          <h3 class="title">Judy Ombima</h3>
          <p class="subtitle animated-text">Founder</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <h3 class="text-center animated-text">About</h3>
    <h2 class="text-center animated-text">
      Our Family, Lifestyle, Faith, Ministry, Work and Vision
    </h2>
  </div>
  <div class="row mt-5">
    <div class="col-6">
      <p class="animated-text">
        We were married in Migori, Kenya on December 17, 1994 in a Christian
        holy matrimony in the church. God blessed us with 3 children, our
        firstborn is a girl “Hilda Asigo” age 19 years expecting to enter
        college this fall. Secondly, a girl “Pricilla Ambio” age 12 years, she
        is in 7 th grade. Our last-born son “Samuel Blessing” age 10 years old,
        now in 6 th grade.
      </p>
      <p class="animated-text">
        We live in the village of Lolgorian, Kenya in our own property. Our home
        has iron roof sheeting and the walls are made of sticks, mud and cow
        dung. When it is dry it does not smell, after each rain we smooth out
        the mud to reduce cracking.
      </p>
    </div>
    <div class="col-6">
       <div id="carouselExample" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
        <div class="carousel-inner">
          <!-- First Image Slide -->
          <div class="carousel-item active">
            <img
              src="assets/slider1.jpeg"
              class="d-block w-100 carousel-image"
              alt="Image 1"
            />
          </div>
          <!-- Second Image Slide -->
          <div class="carousel-item">
            <img
              src="assets/slider2.jpeg"
              class="d-block w-100 carousel-image"
              alt="Image 2"
            />
          </div>
          <!-- Third Image Slide -->
          <div class="carousel-item">
            <img
              src="assets/slider3.jpeg"
              class="d-block w-100 carousel-image"
              alt="Image 3"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <h3 class="text-center animated-text">About</h3>
    <h2 class="text-center animated-text">Our Vision</h2>
  </div>
  <div class="row mt-5">
    <div class="col-12 d-flex justify-content-center">
      <div class="col-8">
        <p class="text-center">
          We have a vision of constructing a vocational training facility for
          college age students. Often students don’t’ finish their high-school
          education so they cannot go to college. This school would provide
          practical training in skills they can use in their community to earn a
          living.
        </p>
        <p class="text-center">
          Some Maasai girls must leave school early due to unexpected
          pregnancies; forceful marriages after female circumcism and Maasai
          boys often leave school during the traditional Manyattas ceremonies
          where they train young boy to become warriors. Other reasons include
          inability to pay the school fees of approximately $150.00 per month
          this would include their food, room and board.
        </p>
        <p class="text-center">
          The classes we propose have practical training in tailoring using
          sewing machines, construction with wood-working equipment, mechanics
          with appropriate tools and welding equipment and lastly computer
          training courses. We propose tuition fees to be $100.00 per month and
          more affordable than the government high-school and college tuition.
        </p>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <h3 class="text-center animated-text">Our</h3>
    <h2 class="text-center animated-text">Budget For School</h2>
  </div>

  <div class="row mt-5">
    <div class="col-6">
      <ol>
        <li>
          Concrete Flooring for 4 Classrooms: <br />
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 12l5 5l10 -10" />
              <path d="M2 12l5 5m5 -5l5 -5" /></svg
            >Each Classroom – $500.00 x 4 = $2,000.00.</span
          >
        </li>
        <li>
          Fencing around the School Compound: <br />
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 12l5 5l10 -10" />
              <path d="M2 12l5 5m5 -5l5 -5" /></svg
            >Each Classroom – $500.00 x 4 = $2,000.00.</span
          >
        </li>
        <li>
          Installation of Electricity: <br />
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 12l5 5l10 -10" />
              <path d="M2 12l5 5m5 -5l5 -5" /></svg
            >Electric Poles, Meter, Wiring and Labor – $1,000.00.</span
          >
        </li>
        <li>
          Desks and Staff Tables: <br />
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 12l5 5l10 -10" />
              <path d="M2 12l5 5m5 -5l5 -5" /></svg
            >(35) Students Desks & (10) Staff Tables &#64;$70.00 ea. –
            $3,150.00.</span
          >
        </li>
        <li>
          Reconditioned School Vehicle: <br />
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 12l5 5l10 -10" />
              <path d="M2 12l5 5m5 -5l5 -5" /></svg
            >(11) Passenger (Toyota) Van – $10,500.00.</span
          >
        </li>
      </ol>
    </div>

    <div class="col-6">
      <ol start="6">
        <li>
          Girls Dormitory: <br />
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 12l5 5l10 -10" />
              <path d="M2 12l5 5m5 -5l5 -5" /></svg
            >Accommodates (70) girls w/bathrooms and septic. –
            $143,000.00.</span
          >
        </li>
        <li>
          Boys Dormitory: <br />
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 12l5 5l10 -10" />
              <path d="M2 12l5 5m5 -5l5 -5" /></svg
            >Accommodates (70) boys w/bathrooms and septic. – $143,000.00.</span
          >
        </li>
        <li>
          Staff Housing: <br />
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 12l5 5l10 -10" />
              <path d="M2 12l5 5m5 -5l5 -5" /></svg
            >Attached Housing for (8) Teacher’s Families – $28,000.00.</span
          >
        </li>
        <li>
          Chapel for School: <br />
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 12l5 5l10 -10" />
              <path d="M2 12l5 5m5 -5l5 -5" /></svg
            >Concrete walls and floor, iron sheet roof – $10,500.00.</span
          >
        </li>
        <li>
          Vocation Training School: <br />
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 12l5 5l10 -10" />
              <path d="M2 12l5 5m5 -5l5 -5" /></svg
            >(2) Classroom School – $28,000.00.</span
          >
          <span
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-checks"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M7 12l5 5l10 -10" />
              <path d="M2 12l5 5m5 -5l5 -5" /></svg
            >Practical training tools and equipment – Budget-TBD</span
          >
        </li>
      </ol>
    </div>
  </div>
</div>
