<app-slider></app-slider>

<div class="container my-4">
  <div class="row about-content">

    <div class="col-md-6 col-12 p-0 image"></div>

    
    <div
      class="col-md-6 col-12 p-4 content"
     
    >
      <div
        class="overlay"
        style="
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0, 0, 0, 0.8);
          z-index: 1;
        "
      ></div>

      <h2>Kinyor Yesu Christian School</h2>
      <p>
        Nestled in the heart of Lolgorian, Kenya, our primary school is a beacon
        of excellence in education. At Kinyor Yesu Christian School, we are
        dedicated to fostering a nurturing environment where every child is
        encouraged to grow, learn, and thrive. Our mission is to provide a
        comprehensive and engaging education that empowers students to reach
        their full potential.
      </p>
      <button class="apply-btn">Apply Now</button>
    </div>
  </div>
</div>
