.main-container {
  padding: 80px 100px;

  background-color: #f8f9fa;
}

.title-text {
  text-align: center;
  padding-bottom: 60px;
}

.title-text h2,
.content h2 {
  font-size: 39px;
  font-weight: 600;
  line-height: 1.1;
}

.title-text h3,
.content h3 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  color: #72a02f;
}

.card {
  padding: 12px;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
  position: relative;
  background-color: #fff;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.row .col-sm-4 {
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
  padding: 20px;
}

.card:hover {
  background-color: #72a02f;
  color: white;
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.card svg {
  height: 60px;
  width: 60px;
  color: #fff;
  background-color: #72a02f;
  padding: 7px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.card:hover svg {
  color: #72a02f;
  background-color: #fff;
  height: 50px;
  width: 50px;
}

.container {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.left-side {
  padding-right: 30px;
}

.right-side img {
  width: 100%;
  border-radius: 10px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .main-container {
    padding: 20px;
  }
  .container {
    padding: 30px; /* Reduce padding on smaller screens */
  }

  .left-side,
  .right-side {
    padding-right: 0;
    padding-left: 0;
  }
}
